<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        
        {{ encore_entry_link_tags('main', null, 'pimcoreWorkbenchUi') }}
    </head>

    <body>
        <div id="app"></div>

        {{ encore_entry_script_tags('main', null, 'pimcoreWorkbenchUi') }}
    </body>
</html>
