/**
* Pimcore
*
* This source file is available under two different licenses:
* - Pimcore Open Core License (POCL)
* - Pimcore Commercial License (PCL)
* Full copyright and license information is available in
* LICENSE.md which is distributed with this source code.
*/

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato-Bold.ttf);
  font-weight: 700;
}

* {
  box-sizing: border-box;
}

/** MESSAGE **/
.ant-message {
  position: absolute;
  bottom: 20px !important;
  top: unset !important;
}

@keyframes moveUp {
  0% {
      transform: translateY(+30%);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

.ant-message .ant-message-move-up-appear,
.ant-message .ant-message-move-up-enter {
  animation-name: moveUp;
}

.ant-message .ant-message-move-up-leave {
  animation-name: moveUp;
  animation-direction: reverse;
}
